node-red-chatbot
[{"id":"ffa2c0c7.9aff2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4ae2cbb4.c296b4","type":"telegram command","z":"ffa2c0c7.9aff2","name":"","command":"/sbchatbot","bot":"8e6966be.6bc7f8","x":140,"y":40,"wires":[["5e980db9.288bd4"],[]]},{"id":"8b7ca0c3.ec213","type":"telegram sender","z":"ffa2c0c7.9aff2","name":"","bot":"8e6966be.6bc7f8","x":700,"y":580,"wires":[[]]},{"id":"5e980db9.288bd4","type":"function","z":"ffa2c0c7.9aff2","name":"prepare for conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["f05d8047.ffd91"]]},{"id":"f05d8047.ffd91","type":"watson-conversation-v1","z":"ffa2c0c7.9aff2","name":"Conversation","workspaceid":"4ef733e4-7f5d-47ec-af25-3dfc07691f30","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":250,"y":200,"wires":[["8452481.4d142b8"]]},{"id":"bd5b79ee.35a1b8","type":"function","z":"ffa2c0c7.9aff2","name":"prepare for telegram","func":"msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["8b7ca0c3.ec213"]]},{"id":"8452481.4d142b8","type":"switch","z":"ffa2c0c7.9aff2","name":"","property":"payload.context.action","propertyType":"msg","rules":[{"t":"eq","v":"translate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["443d95ed.57357c"],["bd5b79ee.35a1b8"]]},{"id":"443d95ed.57357c","type":"function","z":"ffa2c0c7.9aff2","name":"Prepare for Translator","func":"msg.srclang = getLanguage(msg.payload.context.source);\nmsg.destlang = getLanguage(msg.payload.context.destination);\nmsg.payload = msg.payload.text;\n\nreturn msg;\n\nfunction getLanguage(lang) {\n    switch (lang.toLowerCase()) {\n        case \"french\":\n            return \"fr\";\n        case \"italian\":\n            return \"it\";\n        case \"spanish\":\n            return \"es\";\n    }\n    return \"en\";\n}","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["50fb241e.fcd60c"]]},{"id":"50fb241e.fcd60c","type":"watson-translator","z":"ffa2c0c7.9aff2","name":"","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"nl","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"nl","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":620,"y":280,"wires":[["dd289397.b9a62","d39a5c8a.82393"]]},{"id":"dd289397.b9a62","type":"function","z":"ffa2c0c7.9aff2","name":"Prepare for Telegram 2","func":"msg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n content : msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["8b7ca0c3.ec213"]]},{"id":"d39a5c8a.82393","type":"function","z":"ffa2c0c7.9aff2","name":"Clear Conversation context","func":"msg.payload = \"hi\";\nmsg.params = {\n    context : {}\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["f09aca50.3f0a98"]]},{"id":"f09aca50.3f0a98","type":"watson-conversation-v1","z":"ffa2c0c7.9aff2","name":"Conversation 2","workspaceid":"4ef733e4-7f5d-47ec-af25-3dfc07691f30","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":940,"y":100,"wires":[[]]},{"id":"8e6966be.6bc7f8","type":"telegram bot","z":"","botname":"sbchatbot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"}]
